button R0 C0 F0 T" BACK " A"return"
image R11 C0 L"hline.img"
button R13 C0 T"COOLDOWN" A"M98 P#0" L"/menu/cooldown"
button R23 C0 T"MOTORS OFF" A"M18"
button R33 C0 T"REBOOT MAESTRO" A"M999"
button R43 C0 T"RUN MESH COMPENSATION" A"M98 P#0" L"/menu/meshcomp"