button R0 C0 F0 T"BACK " A"return"
;image R11 C0 L"hline.img"
button R10 C0 T"COOLDOWN" A"M98 P#0" L"/menu/cooldown"
button R20 C0 T"MOTORS OFF" A"M18"
button R30 C0 T"REBOOT MAESTRO" A"M999"
button R40 C0 T"RUN MESH COMPENSATION" A"M98 P#0" L"/menu/meshcomp"
button R50 C0 T"RESET BLTOUCH" A"M98 P#0" L"/menu/resetprobe"